@charset "utf-8";
@import "compass";

/* =====================================
	BASE
===================================== */
$ff: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
// $ff: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
// $ff: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
// $ff-jp: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
// $ff-en: 'Didact Gothic', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
$fs: 16;
$lh: 30/$fs;
$ls: .1em;
$pd: 0 30px;
$pd-tb: 0 30px;
$pd-sp: 0 20px;
$color: #333;
$csw: 1060px; // default contents size wrap
$cs: 1000px; //contents size
$cb: 4em; // contents parts margin bottom for pc
$cb-sp: 2em; // contents parts margin bottom for sp
$media-tb: $csw;
$media-sp2: 768px;
$media-sp: 600px;
$media-mb: 480px;

@mixin pc($size: $csw,$pd: $pd-pc) { // 汎用的に使えるコンテンツ幅調整
  width: 100%;
  max-width: $size;
  padding: $pd;
  @include box-sizing(border-box);
}

/*--------------------------------------
  Font Responsive
--------------------------------------*/
@mixin fontSettingSP($mfs: $fs) {
  font-size: calc(#{$mfs/$fs*100}%4*(100vw-600px)/400);
}

// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
@function get_vw($size, $viewport:600){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
@mixin fz_vw-pc($font_size:10, $point: $cs){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size, 1000);
  @media (min-width: $point) {
    font-size: $font_size * 1px;
  }
}
@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

html {
	font-size: 100%;
}
body {
	letter-spacing: $ls;
	line-height: $lh;
  font-family: $ff;
	font-size: $fs/16*100%;
	color: $color;
}
a {
  @include link-colors($color, $color, $color, $color, $color);
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
#main {
  a:hover {
    @include opacity(.7);
  }
}
* {
  word-break: break-all;
}
*:focus {
  outline: none;
}
/* tel */
a[href^="tel:"] {
  pointer-events: none;
  cursor: text;
}
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: auto;
    cursor: pointer;
  }
}
/* img */
img {
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
}
/* hover */
a img:hover {
  @include opacity(.7);
}
/* スマホ禁止事項 */
* {
  -webkit-text-size-adjust: 100%; //横幅の比率統一化
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  //タップ時の背景色削除
  -webkit-touch-callout: none; //長押しメニュー禁止
}
/* 選択不可 */
*:not(input):not(select) {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*--------------------------------------
  PC TB SP
--------------------------------------*/
.sp {
  display: none;
}
.mb {
  display: none;
}
@media screen and (max-width: $media-sp) {
  .pc {
    display: none!important;
  }
  .sp {
    display: block!important;
  }
}
@media screen and (max-width: $media-mb) {
  .mb {
    display: block;
  }
  .pcm {
    display: none;
  }
}