@charset "utf-8";

/* =====================================
	MODULE
===================================== */
/* margins paddings */
@for $i from 0 through 20 {
	.mt#{$i*5} { margin-top: #{$i*5}px!important; }
	.mr#{$i*5} { margin-right: #{$i*5}px!important; }
	.mb#{$i*5} { margin-bottom: #{$i*5}px!important; }
	.ml#{$i*5} { margin-left: #{$i*5}px!important; }
	.pt#{$i*5} { padding-top: #{$i*5}px!important; }
	.pr#{$i*5} { padding-right: #{$i*5}px!important; }
	.pb#{$i*5} { padding-bottom: #{$i*5}px!important; }
	.pl#{$i*5} { padding-left: #{$i*5}px!important; }
}
/* float */
.fr {
	float: right!important;
}
.fl {
	float: left!important;
}
/* clears */
.clearfix {
	*zoom: 1;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.cl {
	clear: both!important;
}
/* text indent */
%textHide {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
/* text-align */
.tac {
	text-align: center!important;
}
.tar {
	text-align: right!important;
}
.tal {
	text-align: left!important;
}
/* font-weight */
.fb {
	font-weight: bold!important;
}