@charset "utf-8";


/* =====================================
	Elementor repaire css
===================================== */
/*--------------------------------------
  Default
--------------------------------------*/
.elementor-editor-active .post-content {
	overflow: visible;
}

/*--------------------------------------
  Layout
--------------------------------------*/
#main .elementor-section.elementor-section-boxed>.elementor-container {
  max-width: $cw;
}
#main .full.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 100%;
}
#main .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding: 0;
}
#main:not(.top) .elementor-section-wrap>.elementor-section:last-child {
  margin-bottom: 0;
}
.top .elementor-widget:not(:last-child) {
	margin-bottom: 0;
}