@charset "utf-8";

/* font-size */
// 見出しとpの比率は480px以下は1.3倍位の比率がバランス良い

@function get_vw_pc($size, $viewport:2000){
	$rate: 100 / $viewport;
	@return $rate * $size * 1vw;
}
@mixin fz_vw_pc($font_size:10){
	font-size: $font_size * 1px;
	font-size: get_vw_pc($font_size);
}
@function get_vw_sp($size, $viewport:1000){
	$rate: 100 / $viewport;
	@return $rate * $size * 1vw;
}
@mixin fz_vw_sp($font_size:10){
	font-size: $font_size * 1px;
	font-size: get_vw_sp($font_size);
}