@charset "utf-8";
@import "compass";

/*
Theme Name: MNES
Theme URI: http://www.hogehoge.jp/
Author: the Takahiro Sahashi
Author URI: http://pmen.net/
Description: basic template.
Version: 1.0
*/

@import "core/base";
@import "core/box";
// @import "core/elementor";


/* =====================================
	Layout
===================================== */
/*--------------------------------------
	container
--------------------------------------*/
.container {
  width: 100%;
  // max-width: 1000px;
  margin: 0 auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .wrapW {
    max-width: $cs;
    margin: 0 auto;
  }
}
/* inner width wrap */
#main .elementor-section.innerW.elementor-section-boxed > .elementor-container {
  max-width: $cs;
  margin: 0 auto;
}

/*--------------------------------------
	header
--------------------------------------*/
/* general */
#header {
  .wrap {
    margin: 0 auto;
  }
	/* logo */
  h1 {
    width: 25.8%;
    max-width: 258px;
    float: left;
    margin: 24px 0 0 20px;
    img {
      width: auto;
      max-width: 100%;
    }
    a:hover {
      text-decoration: none;
    }
  }
	/* header right box */
  .right {
    position: relative;
    width: 60%;
    max-width: 730px;
    float: right;
    background: #04295D;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -100px;
      border-top: 100px solid transparent;
      border-right: 100px solid #04295D;
    }
  }
	/* gnav */
  .gnav {
    margin: 0 auto;
    text-align: right;
  }
  .menu {
    list-style: none;
    padding: 0;
    >li {
      display: inline-block;
      text-align: center;
    }
    a {
      display: block;
      padding: 29.5px 22px;
      @include box-sizing(boder-box);
      cursor: pointer;
      font-size: 1.375em;
      color: #fff!important;
      &:hover {
        background: #e3eef0;
        color: #04295D!important;
      }
    }
  }
  #menu-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    @include transition-duration(.4s);
  }
}
@media screen and (max-width: $media-tb) {
  #header {
    h1 {
      width: 18%;
      min-width: 180px;
      margin-top: 16px;
    }
    .right {
      max-width: 500px;
      &:before {
        left: -75px;
        border-top: 75px solid transparent;
        border-right: 75px solid #04295D;
      }
    }
    .menu {
      a {
        padding: 20px 16px;
        font-size: 1em;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  #header {
    h1 {
      width: 18%;
      min-width: 160px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .right {
      max-width: 360px;
      &:before {
        left: -55px;
        border-top: 55px solid transparent;
        border-right: 55px solid #04295D;
      }
    }
    .menu {
      a {
        padding: 16px 6px;
        font-size: .8em;
      }
    }
  }
}
@media screen and (max-width: $media-sp) {
  #header {
    h1 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .right {
      width: 100%;
      max-width: 100%;
      background: none;
      &:before {
        display: none;
      }
    }
    .menu {
      display: none;
      &.open {
        display: block;
      }
    }
    #menu-button,
    #menu-button span {
      display: block;
      float: right;
      transition: all .4s;
      box-sizing: border-box;
    }
    #menu-button {
      position: relative;
      width: 50px;
      height: 38px;
      margin-bottom: 12px;
    }
    #menu-button span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #04295D;
      border-radius: 4px;
    }
    #menu-button span:nth-of-type(1) {
      top: 0;
    }
    #menu-button span:nth-of-type(2) {
      top: 17px;
    }
    #menu-button span:nth-of-type(3) {
      bottom: 0;
    }
    #menu-button.active span:nth-of-type(1) {
      -webkit-transform: translateY(20px) rotate(-45deg);
      transform: translateY(20px) rotate(-45deg);
    }
    #menu-button.active span:nth-of-type(2) {
      opacity: 0;
    }
    #menu-button.active span:nth-of-type(3) {
      bottom: -6px;
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
    }
    .menu {
      li {
        display: block;
        border-bottom: 1px solid #EBF1F5;
        a {
          background: #04295D;
          &:hover {
            background: #00A0E9;
            color: #fff!important;
          }
        }
      }
    }
  }
}

/*--------------------------------------
  Main Image
--------------------------------------*/
#mainimage {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-top: 50%;
  word-wrap: break-word;
  @media (min-width: 1001px) {
    padding-top: 500px;
  }
  background-size: cover;
  color: #fff;
  .mainCatch, .subCatch {
    position: absolute;
    white-space: pre;
    line-height: 1.4em;
  }
  .mainCatch {
    top: 18%;
    left: 15%;
    width: 70%;
    font-family: $ff-jp;
    @include fz_vw-pc(80);
    @media (max-width: $media-sp) {
      @include fz_vw-pc(70);
    }
    font {
      display: block;
      @include fz_vw-pc(40);
      line-height: 1.3;
      word-wrap: break-word!important;
    }
  }
  .subCatch {
    top: 69%;
    left: 15%;
    font-family: $ff-en;
    @include fz_vw-pc(34);
  }
}

/*--------------------------------------
	main
--------------------------------------*/
#main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  > div {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    &#sidebar_left, &#sidebar_right {
      max-width: 260px;
    }
    &#sidebar_left {
      margin-right: 30px;
    }
    &#sidebar_right {
      margin-left: 30px;
    }
  }
}

/*--------------------------------------
	POSTS
--------------------------------------*/
#posts {}
.post {
  margin-bottom: 30px;
}
.post-header {
  margin-bottom: 15px;
  h2 {
    font-size: 1.4em;
  }
  .meta {
    font-size: .8em;
    padding: 7px 0;
    color: #555;
  }
}
.post-image {
  float: left;
  width: 115px;
}
/* navigation */
.navigation {
  overflow: hidden;
  padding: 10px 0;
  font-size: .8em;
  margin-bottom: 15px;
  .prev {
    float: left;
    width: 200px;
    @media (max-width: $media-mb) {
      width: 50%;
    }
  }
  .next {
    float: right;
    width: 200px;
    @media (max-width: $media-mb) {
      width: 50%;
    }
    text-align: right;
  }
  a {
    color: #06366A!important;
  }
}

/*--------------------------------------
	SIDE
--------------------------------------*/
#sidebar {
  float: right;
  width: 20%;
}
.widget {
  h3 {
    padding-bottom: 7px;
  }

  li {
    line-height: 1.8em;
  }
}

/*--------------------------------------
	FOOTER
--------------------------------------*/
#footer {
  .wrap {
    width: 100%;
    max-width: $cs;
    padding: 0 20px 38px;
    margin: 0 auto;
    @include box-sizing(border-box);
    display: -ms-flexbox;
    -ms-flex-direction: row;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: nowrap; /*--- IE10用 ---*/
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap: nowrap;
    @media (max-width: $media-sp) {
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    >div {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      &.info {
        position: relative;
        width: 48%;
        margin-right: 10%;
        a {
          margin-right: 1em;
        }
        @media (max-width: 768px) {
          a {
            margin-right: 0;
          }
          a:after {
            content: "";
            display: block;
            clear: both;
          }
        }
        @media (max-width: $media-sp) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          // font-size: 14px;
        }
        figure {
          width: 68%;
          max-width: 330px;
          margin: 0 0 16px;
          img {
            vertical-align: top;
          }
        }
        font-size: 18/$fs*100%;
        line-height: 1.5;
        letter-spacing: .07em;
        a {
          color: #004EA2;
          &:hover {
            @include opacity(.7);
          }
        }
      }
      &.menu1, &.menu2 {
        font-size: 13/$fs*100%;
        h3 {
          font-family: $ff-en;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: .15em;
        }
        a {
          display: inline-block;
          padding-left: 1.5em;
          text-indent: -1.5em;
        }
        a:before {
          content: "＞";
          margin-right: 5px;
        }
        a:hover {
          text-decoration: underline!important;
        }
      }
      &.menu1 {
        width: 16%;
        margin-right: 4%;
        @media (max-width: $media-sp) {
          width: 49%;
          margin-right: 2%;
        }
      }
      &.menu2 {
        width: 22%;
        @media (max-width: $media-sp) {
          width: 49%;
        }
      }
      .snsArea {
        ul {
          li a {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 9.6%;
            height: 44px;
            background: url(img/icon_sns_facebook.png) no-repeat;
            background-size: 100%;
            text-indent: -9999px;
            &:hover {
              @include opacity(.7);
            }
          }
          li:last-child {
            a {
              right: 11.3%;
              background: url(img/icon_sns_google.png) no-repeat;
              background-size: 100%;
            }
          }
        }
      }
    }
  }
  .copyright {
    .wrap2 {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      // padding: 0 20px;
      @include box-sizing(border-box);
      @extend .clearfix;
    }
    background: #04295D;
    padding: 16px 20px;
    @include box-sizing(border-box);
    font-size: 13/$fs*100%;
    line-height: 1.5;
    color: #fff;
    ul {
      width: 50%;
      @media (max-width: $media-sp) {
        width: 100%;
        text-align: center;
      }
      float: left;
      li {
        display: inline-block;
        &:after {
          content: "|";
          margin: 0 4px 0 14px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        a {
          color: #fff;
        }
      }
    }
    p {
      width: 50%;
      float: right;
      letter-spacing: .05em;
      text-align: right;
      @media (max-width: $media-sp) {
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}


/* =====================================
	google maps
===================================== */
.gMap {
  position: relative;
  width: 100%;
  height: 206px;
  border: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  &.v2 {
    height: 180px;
    a {
      background: #fff;
    }
  }
  &.v3 {
    height: 300px;
    a {
      background: #2c959f;
      color: #fff;
    }
  }
  #map_canvas, #map_canvas2, #map_canvas3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  a {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #f1cfca;
    text-align: center;
    font-size: 14px;
    color: #464646;
    &:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
    }
  }
}


/* =====================================
  新着情報
===================================== */
.newsWrap {
  background: #c1dee3;
  padding: 70px 0;
  .h2Wrap {
    position: relative;
    margin-bottom: 1em;
    h2 {
      font-size: 3.2rem;
      font-weight: bold;
      color: #43b0c4;
      letter-spacing: .16em;
    }
    a {
      position: absolute;
      top: -2px;
      right: 0;
      padding: 4px 14px 2px;
      background: #98d4df;
      @include border-radius(4px);
      font-size: 1.5rem;
      color: #fff;
      &:after {
        content: ">";
      }
      &:hover {
        @include opacity(.7);
      }
    }
  }
  dl {
    border-bottom: 2px solid #fff;
    margin-bottom: .5em;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 1020px) {
  .newsWrap {
    padding: 50px 30px;
    @include box-sizing(border-box);
  }
}


/* =====================================
  module
===================================== */
/*--------------------------------------
  list-01
--------------------------------------*/
.list01 {
  li a {
    position: relative;
    display: block!important;
    padding-right: 1em;
    margin-bottom: .5em;
    @include box-sizing(border-box);
    &:before {
      content: "●";
      font-size: x-small;
      color: #de0050;
      vertical-align: middle;
    }
    &:after {
      content: "";
      position: absolute;
      top: 8px;
      right: 10px;
      display: block;
      width: .8em;
      height: .8em;
      border-top: 2px solid #43b0c4;
      border-right: 2px solid #43b0c4;
      @include rotate(45deg);
    }
    &:hover {
      background: #e3eef0;
    }
  }
}

/*--------------------------------------
  list-02
--------------------------------------*/
.list02 {
  li {
    position: relative;
    margin-bottom: .5em;
    @include box-sizing(border-box);
    &:before {
      content: url(img/sitemap-pict.gif);
      font-size: x-small;
      margin-top: 4px;
    }
  }
  &.nth4 ul>li:nth-child(4) {
    position: relative;
    padding-left: 22px;
    &:after {
      content: "∟";
      position: absolute;
      top: -3px;
      left: 4px;
      width: 1em;
      font-weight: bold;
    }
  }
}

/*--------------------------------------
  list-03(キャレット)
--------------------------------------*/
.list03 {
  border-top: 1px solid #ae9f8f;
}

.list03 > li {
  border-bottom: 1px solid #ae9f8f;
}

.list03 > li a {
  position: relative;
  display: block;
  padding: 1.2em 1.2em 1.2em .6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list03 > li a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  right: 1em;
  display: block;
  width: 1em;
  height: 1em;
  border-top: 1px solid #ae9f8f;
  border-right: 1px solid #ae9f8f;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list03 > li a ul li a:before {
  content: "┗";
}

.list03 > li a:hover {
  background: #e5dac4;
  color: white !important;
}

.list03 > li a:hover:after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

/*--------------------------------------
  box01
--------------------------------------*/
.box01 {
  border: 1px solid #ae9f8f;
  padding: 20px;
  @include box-sizing(border-box);
}

/*--------------------------------------
  table01
--------------------------------------*/
table.table01,
table .table01,
.table01 table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1em;
}
.table01 th,
.table01 td {
  padding: 0.5em 1em;
  vertical-align: middle;
  text-align: left;
  font-size: 14/$fs*100%;
  a {
    color: #04295D;
    &:hover {
      text-decoration: underline;
    }
  }
}
.table01 thead th {
  background-color: #97bdc4;
  color: #fff;
}
.table01 tbody th {
  border-bottom: 1px dotted #04295D;
}
.table01 tbody td {
  border-bottom: 1px dotted #04295D;
}
.table01 {
  tr:nth-child(even) {
    background: #EAF0F4;
  }
}
@media screen and (max-width: $media-sp) {
  table.table01,
  table .table01 {
    font-size: 85%;
  }
  .table01 th,
  .table01 td {
    font-size: 13/$fs*100%;
    padding: 0.5em;
    word-break: break-all;
  }
}
@media (max-width: $media-mb) {
  .table01 th,
  .table01 td {
    font-size: 12/$fs*100%;
  }
}

/*--------------------------------------
  table02
--------------------------------------*/
table.table02,
table .table02,
.table02 table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  font-size: 13px;
  letter-spacing: .02;
  th, td {
    padding: 0.5em;
    vertical-align: middle;
    text-align: left;
  }
  th {
    width: 25%;
    background: rgba(4,41,93,.8);
    color: #fff;
  }
  td {
    background: #EBF1F5;
    color: #06366A;
  }
}

/*--------------------------------------
  contact form
--------------------------------------*/
.contactForm dl {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
  dt, dd {
    display: table-cell;
    padding: 0.5em;
    vertical-align: middle;
    text-align: left;
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
  }
  dt {
    width: 25%;
    background: rgba(4,41,93,.8);
    color: #fff;
    @media (max-width: 767px) {
      width: 100%;
    }
    span {
      color: #F27E7A;
      font-size: 13px;
      vertical-align: middle;
    }
  }
  dd {
    background: #EBF1F5;
    color: #06366A;
  }
  input[type=text], input[type=email] {
    width: 80%;
    padding: .5em;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  textarea {
    width: 80%;
    padding: .5em;
    vertical-align: middle;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

/*--------------------------------------
  btn01
--------------------------------------*/
.btn01, input[type=submit] {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  background: #F27E7A;
  letter-spacing: 2em;
  line-height: 1.3;
  font-size: 28/$fs*100%!important;
  -webkit-appearance: none;
  border: none;
  @media (max-width: $media-mb) {
    font-size: 104%!important;
  }
  padding: 20px 0 20px 2em;
  @include box-sizing(border-box);
  color: #fff;
  &:hover {
    @include opacity(.7);
  }
  &.elementor-size-sm {
    @include border-radius(0);
  }
}
/*
.btn01 {
  position: relative;
  padding: .8em .5em;
  @include box-sizing(border-box);
  @include border-radius(4px);
  background: #78c5d3;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: .22em;
  line-height: 2.13em;
  &:after {
    content: "";
    position: absolute;
    top:  50%;
    margin-top: -8px;
    right: 18px;
    display: block;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    @include rotate(45deg);
  }
}
*/

/*--------------------------------------
  table mini
--------------------------------------*/
.tableMini {
  dl {
    display: table;
    dt, dd {
      display: table-cell;
      letter-spacing: .05em;
    }
    dt {
      width: 6em;
    }
  }
}

/*--------------------------------------
  btn02
--------------------------------------*/
.btn02 {
  position: relative;
  display: block;
  padding: .8em 2em .8em .5em;
  @include box-sizing(border-box);
  @include border-radius(4px);
  background: #de0050;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: .22em;
  line-height: 2.13em;
  text-align: center;
  margin-top: 30px;
  &:after {
    content: "";
    position: absolute;
    top:  50%;
    margin-top: -8px;
    right: 18px;
    display: block;
    width: 1em;
    height: 1em;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    @include rotate(45deg);
  }
  &:hover {
    @include opacity(.7);
  }
}

/*--------------------------------------
  btn01Wrap
--------------------------------------*/
.btnWrap01 {
  .elementor-button-link {
    position: relative;
    background: #04295D;
    line-height: 1.3;
    font-size: 28/$fs*100%!important;
    @media (max-width: $media-mb) {
      font-size: 104%!important;
    }
    padding: 20px 55px 20px 30px!important;
    color: #fff;
    &.elementor-size-sm {
      @include border-radius(0);
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 25px;
      width: 16px;
      height: 16px;
      @media (max-width: $media-mb) {
        width: 12px;
        height: 12px;
      }
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      @include rotate(45deg);
    }
    &.v2 {
      &:after {
        margin-top: -9px;
      }
    }
  }
}

/*--------------------------------------
  list-btn01
--------------------------------------*/
.list-btn01 {
  margin-top: 25px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  li {
    width: 48%;
    float: left;
    margin-bottom: 20px!important;
    &:nth-child(even) {
      float: right;
    }
    &:nth-last-child(1), &:nth-last-child(2) {
      margin-bottom: 0!important;
    }
    a {
      position: relative;
      display: block!important;
      padding: .8em .5em;
      @include box-sizing(border-box);
      @include border-radius(4px);
      background: #78c5d3;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: .22em;
      line-height: 2.13em;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        top:  50%;
        margin-top: -8px;
        right: 18px;
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        @include rotate(45deg);
      }
      &:hover {
        @include opacity(.7);
      }
      span {
        color: #fff!important;
      }
    }
  }
}

/*--------------------------------------
  ステップ形式(コンテンツ下に三角形の矢印を配置)
--------------------------------------*/
.stepArrow {
  position: relative;
  margin-bottom: 4em!important;
}

.stepArrow:before {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 50%;
  margin-left: -45px;
  display: block;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #de0050;
  border-right-width: 45px;
  border-left-width: 45px;
}

/*--------------------------------------
  colors
--------------------------------------*/
.c1 {
  color: #06366A;
}
.c2 {
  color: #5e8289;
}


/* =====================================
  TOP
===================================== */
/*--------------------------------------
  general
--------------------------------------*/
/* h2 */
.top02, .top04 {
  h2 {
    font-family: $ff-en;
    @include fz_vw-pc(40);
    @media (max-width: $media-sp) {
      font-size: 30px;
    }
    color: #002864;
    line-height: 1.75;
    margin-bottom: 30px!important;
    sub {
      font-family: $ff;
      font-size: 16px;
      color: $color;
      display: block;
      margin: 4px auto 0;
      font-weight: bold;
    }
  }
}
/* btns */
.btns {
  a {
    position: relative;
    background: #04295D;
    width: 100%;
    color: #fff;
    padding: 30px!important;
    @media (max-width: 900px) {
      padding: 20px 30px 20px 15px!important;
    }
    @include box-sizing(border-box);
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30px;
      @media (max-width: 900px) {
        right: 15px;
      }
      width: 14px;
      height: 14px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      @include rotate(45deg);
      margin-top: -7px;
    }
    span {
      font-size: 22px;
      @media (max-width: 900px) {
        font-size: 20px;
      }
    }
  }
}

/*--------------------------------------
  top01
--------------------------------------*/
.top01 {
  position: relative;
  padding: 40px;
  @include box-sizing(border-box);
  @media (max-width: $media-sp) {
    padding: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    top: -18px;
    right: 0;
    display: block;
    width: 48%;
    padding-top: 61.8%;
    background: url(img/img_cloud.png) no-repeat;
    background-size: 100%;
    @media (max-width: $csw) {
      right: 10px;
    }
  }
  h2 {
    @include fz_vw-pc(30);
    @media (max-width: $media-sp) {
      font-size: 30px;
      font-weight: bold;
    }
    color: #002864;
    font-family: $ff-en;
    font-weight: normal;
  }
  strong {
    display: inline-block;
    font-family: $ff-jp;
    @include fz_vw-pc(40);
    line-height: 1.4;
    margin-bottom: 20px;
    @media (max-width: $media-sp) {
      font-size: 18px;
      letter-spacing: .03em;
    }
  }

}

/*--------------------------------------
  top02
--------------------------------------*/
.top02 {
  padding: 24px 20px;
  @include box-sizing(border-box);
  background: #EBF1F5;
  .flexbox {
    max-width: 960px;
    margin: 0 auto;
  }
  .flexbox .elementor-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    @media (max-width: $media-mb) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    >.elementor-column {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: $media-mb) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  .elementor-image-box-content {
    background: url(img/bg_panel01.png);
    background-size: cover;
    padding: 15px;
    color: #fff;
    @include box-sizing(border-box);
    .elementor-image-box-description {
      font-size: 14px;
      line-height: 1.78;
    }
  }
  h3 {
    @include fz_vw-pc(21);
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: $media-sp) {
      font-size: 16px;
    }
    @media (max-width: $media-mb) {
      font-size: 18px;
    }
    line-height: 1.3;
    letter-spacing: .05em;
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
  }
  @media (max-width: $media-sp) {
    img {
      width: 100%;
    }
  }
}

/*--------------------------------------
  top03
--------------------------------------*/
.top03 {
  padding: 40px 0;
  .elementor-button.elementor-button-link {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 3%;
    @include box-sizing(border-box);
    width: 100%;
    max-width: 600px;
    @media (max-width: $media-sp) {
      width: 90%;
    }
    background: url(img/bg_h2-pink.png);
    font-family: $ff-en;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 6%;
      margin-top: -12px;
      width: 32px;
      height: 32px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      @include rotate(45deg);
      @media (max-width: $media-sp) {
        width: 20px;
        height: 20px;
        margin-top: -10px;
      }
    }
    .elementor-button-text {
      @include fz_vw-pc(52.5);
      @media (min-width: $cs) {
        font-size: 52.5px;
      }
    }
    sub {
      display: block;
      margin: 16px auto 0;
      font-family: $ff-jp;
      @include fz_vw-pc(22.4);
      @media (max-width: $media-sp) {
        margin: 8px auto 0;
      }
    }
  }
}

/*--------------------------------------
  top04
--------------------------------------*/
.top04 {
  background: #EBF1F5;
  padding: 30px 20px;
  @include box-sizing(border-box);
  text-align: center;
  strong {
    display: inline-block;
    @include fz_vw-pc(30);
    @media (max-width: $media-sp) {
      font-size: 18px;
    }
    font-family: $ff-jp;
    line-height: 1.56;
    margin-bottom: .6em;
  }
  .flexbox .elementor-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    @media (max-width: 768px) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    >.elementor-column {
      margin-right: 15px;
      @media (max-width: 768px) {
        &:first-child {
          margin-right: 0;
          margin-bottom: 2%;
        }
        &:nth-child(2) {
          margin-right: 2%;
        }
        &:nth-child(2), &:nth-child(3) {
          width: 49%;
        }
      }
      @media (max-width: $media-mb) {
        &:first-child {
          margin-bottom: 10px;
        }
        &:nth-child(2) {
          margin-right: 0;
          margin-bottom: 10px;
        }
        &:nth-child(2), &:nth-child(3) {
          width: 100%;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btns {
    margin-top: 38px;
  }
}

/*--------------------------------------
  content bottom
--------------------------------------*/
.content-bottom {
  padding: 40px 0;
  @media (max-width: $csw) {
    padding: 40px 20px;
    @include box-sizing(border-box);
  }
  .underline {
    h2 {
      border-bottom: 1px solid #002864;
      margin-bottom: 18px;
    }
  }
  h2 {
    padding-bottom: 15px!important;
    text-align: center;
    font-family: $ff-en;
    @include fz_vw-pc(30);
    @media (max-width: $media-sp) {
      font-size: 30px;
    }
    line-height: 1.75;
    color: #002864;
  }
  .elementor-row {
    >div:first-child {
      width: 67.5%;
      margin-right: 7.5%;
      @media (max-width: $media-sp) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    >div:last-child {
      width: 25%;
      @media (max-width: $media-sp) {
        width: 100%;
      }
    }
  }
  dl {
    @media (max-width: $media-sp) {
      margin-bottom: 10px;
    }
    font-size: 15/$fs*100%;
    dt {
      position: relative;
      float: left;
      width: 7em;
      margin-right: 38px;
    }
    dd {
      width: 79.5%;
    }
    @media (max-width: $media-sp) {
      dt, dd {
        width: 100%;
        margin-right: 0;
      }
    }
    @extend .clearfix;
  }
  .newsLabel {
    position: absolute;
    top: 4px;
    right: -32px;
    padding: 0 2px;
    background: #EB6051;
    font-family: $ff-en;
    font-size: 10px;
    color: #fff;
    @media (max-width: $media-sp) {
      position: relative;
      top: -1px;
      right: -3px;
      vertical-align: middle;
    }
  }
}

/*--------------------------------------
  loopslider
--------------------------------------*/
#loopslider {
    margin: 0 auto;
    width: 100%;
    height: 214px;
    text-align: left;
    position: relative;
    overflow: hidden;
}
#loopslider ul {
    float: left;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
}
#loopslider ul li {
    width: 2004px;
    height: 214px;
    float: left;
    display: inline;
    overflow: hidden;
}
#loopslider ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}


/* =====================================
  UNDER
==================================== */
/*--------------------------------------
  general
--------------------------------------*/
/* Layout */
#main.under .elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 960px;
}
/* bg post contents */
.under {
  .post-content {
    background: #EBF1F5;
    padding: 20px 20px 40px 20px;
    @include box-sizing(border-box);
  }
}

/*--------------------------------------
  heading
--------------------------------------*/
/* h2 */
.under {
  .post-header {
    display: table;
    width: 100%;
    max-width: $cs;
    margin: 30px auto 20px;
    padding: 6.8% 0 6.8% 7%;
    @include box-sizing(border-box);
    background: url(img/bg_h2_sevice.png) no-repeat center center;
    background-size: 100%;
    h2 {
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      @include fz_vw-pc(38);
      @media (max-width: $media-sp) {
        font-size: 16px;
      }
      text-shadow: 0 0 10px rgba(0,0,0,.7);
      letter-spacing: .05em;
      line-height: 1.3;
    }
  }
}
/* news h2 */
.newsH2 {
  font-family: $ff-en;
  font-size: 4vw!important;
  letter-spacing: .4em;
}
/* h3 */
.under {
  div[data-element_type*=heading]:not(.h3V3):not(.h3V4) {
    h3 {
      background: #04295D;
      @include fz_vw-pc(25);
      @media (max-width: $media-sp) {
        font-size: 20px;
      }
      color: #fff;
      text-align: center;
      line-height: 1.6;
      padding: .48em!important;
      a {
        color: #fff!important;
      }
    }
    &.h3V2 {
      h3 {
        background: #00A0E9;
      }
    }
    &.h3V5 {
      h3 {
        background: #F27E7A;
      }
    }
  }
  .h3V3 {
    h3 {
      @include fz_vw-pc(25);
      @media (max-width: $media-sp) {
        font-size: 18px;
      }
      letter-spacing: .05em;
      line-height: 2.1;
      color: #06366A;
    }
  }
  .h3V4 {
    h3 {
      font-family: $ff-jp;
      @include fz_vw-pc(50);
      letter-spacing: .05em;
      line-height: 1.3;
      color: #04295D;
      padding-bottom: .2em;
      border-bottom: 2px solid #04295D;
      margin-bottom: 30px;
      @media (max-width: $media-sp) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }
}
/* h4 */
.under {
  h4:not(.elementor-image-box-title) {
    @include fz_vw-pc(25);
    @media (max-width: $media-sp) {
      font-size: 18px;
    }
    color: #06366A;
    padding-bottom: .4em!important;
    border-bottom: 1px solid #06366A;
    line-height: 1.2em;
  }
  .staffs {
    .elementor-row {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      @media (max-width: $media-sp) {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      >div {
        margin-right: 4%;
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: $media-sp) {
          width: 48%;
          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }
    }
    h4.elementor-image-box-title {
      display: table;
      width: 100%;
      font-size: 18/$fs*100%;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: .05em;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 67.5%;
      }
      @media (max-width: 600px) {
        font-size: 67.5%;
      }
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .elementor-image-box-description {
      cursor: pointer;
      font-size: 32/$fs*100%;
      font-weight: bold;
      @media (max-width: 767px) {
        font-size: 120%;
      }
    }
  }
}

/*--------------------------------------
  staff profile
--------------------------------------*/
.staffProfile {
  display: none;
}
.toolChip {
  position: relative;
  width: 100%!important;
  padding: 30px 20px;
  margin-bottom: 20px;
  @include box-sizing(border-box);
  border: 1px solid #04295D;
  font-size: 15/$fs*100%;
  letter-spacing: .05em;
  line-height: 1.5;
  color: #04295D;
  &:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 9.5%;
    width: 22px;
    height: 22px;
    border-top: 1px solid #04295D;
    border-right: 1px solid #04295D;
    @include rotate(-45deg);
    background: #fff;
  }
  dl {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    @media (max-width: $media-sp) {
      display: block;
    }
    &:nth-child(3) {
      margin-bottom: 0;
    }
    dt, dd {
      display: table-cell;
      @media (max-width: $media-sp) {
        display: block;
      }
    }
    dt {
      width: 130px;
      height: 25px;
      line-height: 25px;
      background: #04295D;
      vertical-align: middle;
      color: #fff;
      padding: 0;
      @include box-sizing(border-box);
      text-align: center;
      @media (max-width: $media-sp) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    dd {
      padding-left: 15px;
      @media (max-width: $media-sp) {
        padding-left: 0;
      }
    }
  }
}

/*--------------------------------------
  module
--------------------------------------*/
/* list01 */
.list01 {
  color: #06366A;
  ul {
    li {
      letter-spacing: .05em;
      line-height: 1.68;
      padding-left: 1em;
      &:before {
        content: "・";
      }
    }
  }
}
/* bgW */
.bgW, .bgW2 {
  background: #fff;
  padding: 3% 3% 4.5%;
  @include box-sizing(border-box);
}
.bgW2 {
  padding: 3% 20px 4.5%;
}
/* txt1 */
.txt1 {
  font-size: 19/$fs*100%!important;
  font-weight: bold;
  letter-spacing: .04em!important;
  line-height: 2.1;
  .list01 ul li {
    line-height: 2.1;
  }
}
/* link1 */
.link1 {
  color: #00A0E9!important;
  &:hover {
    text-decoration: underline;
  }
}
/* image fix right top */
.ffix {
  position: absolute;
  top: -57px;
  right: 1%;
  width: 18%;
  @media (max-width: 767px) {
    position: relative;
    display: block;
    top: 0;
    right: auto;
    width: auto;
    max-width: 100%;
    margin: 0 auto 20px;
  }
}
/* number wrap */
.numberWrap {
  counter-reset: boxNum;
  h3 {
    @include fz_vw-pc(21);
    padding-left: 11%;
    @media (max-width: $media-tb) {
      font-size: 18px;
    }
    @media (max-width: $media-sp) {
      padding-left: 48px;
    }
    letter-spacing: .05em;
    @include box-sizing(border-box);
  }
  h3+p {
    background: #00A0E9;
    color: #fff;
    letter-spacing: .05em;
    padding: .8em 70px .8em 11%;
    @include box-sizing(border-box);
    .rect {
      position: absolute;
      right: 0;
      bottom: 0;
      border-top: 60px solid transparent;
      border-right: 60px solid #fff;
    }
    @media (max-width: $media-sp) {
      padding: 10px;
    }
  }
}
.numberBox {
  position: relative;
  text-align: left!important;
}
.numberBox:before {
  counter-increment: boxNum;
  content: counter(boxNum) ".";
  @include fz_vw-pc(93);
  @media (max-width: $media-sp) {
    font-size: 40px;
  }
  font-style: italic;
  color: #04295D;
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 0;
  line-height: 1;
}
/* listCol */
.listCol {
  font-size: 15px;
  color: #06366A;
  letter-spacing: .05;
  .elementor-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    @media (max-width: $media-sp) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .elementor-column[class*=elementor-col] {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .elementor-widget-wrap {
    background: #EBF1F5;
  }
  span {
    display: block;
    background: rgba(4,41,93,.8);
    letter-spacing: 1.2em;
    color: #fff;
  }
}
/* flex sections */
.flexSections {
  .elementor-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    @media (max-width: $media-sp) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    >.elementor-column {
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: $media-sp) {
        margin-right: 0;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
/* others */
.pr180 {
  padding-right: 16%;
  @media (max-width: 767px) {
    padding-right: 0;
  }
}
.maxW {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.maxW2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.elementor-186 .tableL .elementor-element.elementor-element-twa41tj {
  width: 62%;
  margin-right: 2%;
  @media (max-width: 767px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.post-header[style*=bg_h2_rental] {
  h2:after {
    content: "（CT搭載車）";
    display: block;
    @include fz_vw-pc(23);
    letter-spacing: .05em;
    line-height: 1.3;
    margin-left: 4em;
  }
}
.ffJp {
  font-family: $ff-jp!important;
  font-style: italic;
}
.spMapTxt {
  @media (max-width: 767px) {
    margin-top: 20px;
    text-align: center;
  }
}
.under {
  .post-header[style*=bg_h2_staff] {
    padding-top: 5%;
    h2 {
      @include fz_vw-pc(27);
      letter-spacing: .1em;
      text-align: center;
      line-height: 1.2;
      &:before {
        content: "STAFF";
        display: block;
        @include fz_vw-pc(105);
        font-family: $ff-en;
      }
    }
  }
}
.elementor-230 .staff3 .elementor-element.elementor-element-u1ycr00, .elementor-230 .staff3 .elementor-element.elementor-element-u7hwwi6 {
  @media (min-width: $media-sp) {
    margin-right: 2%;
  }
  @media (max-width: 767px) {
    width: 24%;
  }
  @media (max-width: $media-sp) {
    width: 48%;
  }
}
.elementor-230 .staff3 .elementor-element.elementor-element-u7hwwi6 {
  @media (max-width: $media-sp) {
    margin-right: 0;
  }
}
.elementor-230 .staff3 .elementor-element.elementor-element-pwhgj78 {
  width: 100%;
  @media (min-width: $media-sp) {
    width: 48%;
  }
}


/* =====================================
  Slider
===================================== */
/* Meta Slider */
.under {
  .theme-default .nivo-controlNav {
    position: absolute;
    bottom: 0;
    padding: 0;
  }
  .theme-default .nivo-controlNav a {
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    background: rgba(255,255,255,.6);
    margin: 0 5px;
  }
  .theme-default .nivo-controlNav a.active {
    background: rgba(4,41,93,.8);
  }
}
/* elementor slider */
.under {
  .elementor-slick-slider ul.slick-dots {
    bottom: 10px;
  }
  .elementor-slick-slider ul.slick-dots li button:before {
    color: #fff;
    @include opacity(1);
  }
  .elementor-slick-slider ul.slick-dots li.slick-active button:before{
    color: #04295D;
  }
}


/* =====================================
  Light Box
===================================== */
a[data-elementor-open-lightbox=yes] {
  position: relative;
  display: inline-block!important;
  &:hover {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35,24,21,.4)!important;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px;
      display: block;
      width: 80px;
      height: 80px;
      background: url(img/icon_lightbox.png) no-repeat;
      background-size: 100%;
    }
  }
  @media (max-width: $media-sp) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35,24,21,.4)!important;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -40px;
      display: block;
      width: 80px;
      height: 80px;
      background: url(img/icon_lightbox.png) no-repeat;
      background-size: 100%;
    }
  }
}
@media screen and (max-width: $media-sp) {
  .tapTxt {
    a[data-elementor-open-lightbox=yes]:before {
      content: "タップで拡大画像\Aが見れます";
      white-space: pre;
      padding-top: 100%;
      font-size: 24px;
      line-height: 1.4;
      color: #fff;
    }
  }
}

/* =====================================
  English Page
===================================== */
.en {
  display: none;
  font-family: $ff-en!important;
}
.btnTrans {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  a {
    display: block;
    background: #F27E7A;
    padding: 4px 8px;
    font-family: $ff-en;
    color: #fff;
    cursor: pointer;
    &:hover {
      @include opacity(.7);
    }
  }
}


/* =====================================
  page to top
===================================== */
.pagenation {
  text-align: center;
  span , a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  span {
    color: #04295D;
  }
  a {
    padding: 8px 10px;
    background: #04295D;
    color: #fff;
  }
}


/* =====================================
	page to top
===================================== */
.fa-angle-up:before {
  vertical-align: top;
  line-height: 32px;
}
/*
.scroll-back-to-top-wrapper {
  width: 60px!important;
  height: 60px!important;
  background-color: transparent!important;
  background: url(img/totop.png) no-repeat;
  &:hover {
    opacity: 0.7!important;
    filter: alpha(opacity=70)!important;
    -ms-filter: "alpha( opacity=70 )"!important;
  }
}
.fa-angle-up:before {
  display: none;
}
*/